
/*===START THE HEADER AND NAVBAR STYLE===*/
.header_color{
	background: #e56c34;
}
.text-left span {
color: #fff;
margin-bottom: 10px;
margin-top: 10px;
font-size: 14px;
font-weight: bold;

}
.social_right ul{
margin-top: 10px;
    margin-bottom: 10px;
}
.social_right li{
display: inline;
padding: 10px;
}
.social_right span{
color: #fff;
}
.navbar-brand > img {
    display: block;
    margin-top: -19px;
    margin-bottom: 19px;
}
#navbar-button{
margin-top: 9px;
background: #e56c34;
border: none;
border-radius: 1px;
padding-left: 14px;
padding-right: 14px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 15px;
}
.nav_button{

}
.navbar-default {
    background:none;
    border: none;
    margin-top: 20px;
margin-bottom: 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 18px;
}
.Subscribe-login{
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
    background: #e56f38;
    border-color: #e56f38;
    border-radius: 0px;
}
#Subscribe-login-registor{
    border-radius: 0px;
    color: #fff;
    background: #e56f38;
    border-color: #e56f38;
}
/*===CLOSE THE HEADER AND NAVBAR STYLE===*/

/*===BANNER IMAGE STYLE===*/
.banner_img{
		background: url(../images/search-bg.jpg) no-repeat;
		
	background-position: center center;
	padding: 150px 0 200px 0;
	background-size: cover;
	
}
#j1_text h1{
	color: #fff;
	margin-bottom: 30px;
	
	font-size: 43px;
font-weight: bold;
}
#j1_text p{
color: #fff;
}
#Subscribe{
background-color: #e56c34;
border-color: #e56c34;
}

/*=== CLOSE BANNER IMAGE STYLE===*/
/*======================= SUBSCRIBE STYLE===========================*/
.Subscribe{
margin-top: 0px;
background: rgba(78, 71, 71, 0.08);
}
.Subscribe h3{
font-weight: bold;
padding-top: 50px;
font-size: 37px;
}
.Subscribe p{
    padding-top: 40px;
    padding-bottom: 10px;
    padding-bottom: 50px;
}
.Subscribe-input{
       padding-top: 70px;
}
/*======================= CLOSE SUBSCRIBE STYLE===========================*/
/*=== row Course-Categories-icons===*/
.Course-Categories h1{
    font-weight: bold;
    margin-top: 50px;
}
.android{
    background: #e56c34;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;

}
.android span{
font-size: 56px;
}
.android a{
color:#fff;
font-size: 24px;
font-style: italic;
}
.Course-Categories-icons-row2{
    margin-top: 50px;


}
.Course-Categories-icons-row3{
    margin-top: 50px;


}

.Popular-Courses{
    background: #ece6e6;
    margin-top: 50px;
     margin-bottom: 50px;
     padding-top: 80px;
     padding-bottom: 80px;
}
/*=== row Course-Categories-icons===*/
/*=== Popular-Courses===*/
.right{
    text-align: right;
}
.text-left{
    font-size: 30px;
}
.button-right a{
    float: right;
}
/*=== close Popular-Courses===*/
/*=== Our-Teachers===*/
.Our-Teachers h1{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}
.Pillars h1{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}
/*=== close Our-Teachers===*/





/*======================= close Recent Blog Posts==========================*/
.Recent-Blog{
    background: #000;
    margin-top: 50px;
}
.Recent-Blog h1{
    color: #fff;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 50px;
}
.Recent-Blog p{
    color: #fff;
    }

.Blog {
    margin-top: 50px;
    padding-bottom: 20px;
}
.Blog h3{
    color: #000;
}
.Blog p{
    color: #000;
    padding: 5px;
    padding-bottom: 20px;
}

/*======================= close Recent Blog Posts==========================*/

/*======================= What Our Clients Say==========================*/
.Clients-Say h1{
padding-top: 80px;
font-weight: bold;
}
.Clients-Say p{
padding-top: 50px;
padding-bottom: 50px;
font-size: 15px;
} 
/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
/*======================= close What Our Clients Say==========================*/

/*======================= statistics==========================*/
.bottam-banner{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../course-img/bottam-banner.jpg) no-repeat;
    background-attachment: fixed;   
    background-position: center center;
     padding: 150px 0 200px 0;
    background-size: cover;

}
.bottam-banner h1 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-bottom: 10px;
}
.bottam-banner p {
    text-align: center;
    color: #fff;
    padding-bottom: 85px;
}
.but1 {
    background: #e56c34;
   text-align: center;
    display: inline-block;
    padding: 5px 35px;
    margin: 5px;
    border-radius: 5px;
}
.but1 h2{
    text-align: center;
    text-align: center;
    line-height: 58px;
    font-weight: bold;
}
.bottam-banner h3{
    color: #fff;
}


/*======================= close  statistics==========================*/

.our-parteners{
    background: #e56c34;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 80px;
}
.our-parteners h1
{
    font-weight: bold;
}
/*=======================Subscribe Our Newsletter==========================*/
/*======================= close Subscribe Our Newsletter==========================*/

/*======================= slider-for-our-partner-compani==========================*/
.carous-row{
    padding-top: 40px;
    padding-bottom: 40px;
}
/*======================= close slider-for-our-partner-compani==========================*/
.footer{
    background: #292828;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}
.footer-one-colum h2{
  color: #949292;

}
.footer-one-colum h4{
  color:#949292;

}
.footer-one-colum p{
    color: #949292;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-second-colum h4{
    color: #fff;
    padding-top: 14px;
    font-weight: bold;
}
.footer-second-colum ul{
    margin: 0px;
    padding: 0px;
}
.footer-second-colum ul li {
    margin-bottom: 5px;
    line-height: 30px;
    list-style: none;

}
.footer-second-colum ul li  a{
color: #949292;
}

/*---------- designer-amanyadav ----------*/
.designer-amanyadav{
    background: #000000;
    color: #fff;
}
/*---------- designer-amanyadav ----------*/
/*---------- MEDIA 360px ----------*/

@media  (max-width: 360px) {
	.navbar-default .navbar-toggle {
    border-color: #1198b6;
    margin-top: 30px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #1198b6;
}
}

@media  (max-width: 480px) {
		.navbar-default .navbar-toggle {
    border-color: #1198b6;
    margin-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #1198b6;
}
}

@media  (max-width: 768px) {
		.navbar-default .navbar-toggle {
    border-color: #1198b6;
    margin-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #1198b6;
}	
}